In [7]:
import pandas as pd
import numpy as np
from scipy import stats

CORE_COLUMNS = ['CMTE_NM','RPT_TP','NAME','CITY','STATE','ZIP_CODE','TRANSACTION_DT','TRANSACTION_AMT','PURPOSE','CATEGORY']

# Read in data
df = pd.read_csv("oppexp.csv", low_memory=False )
cmte_header = pd.read_csv("~/Documents/Insight/Data - Insight/cm20/cm_header_file.csv") # pull in header for committee names file
cmte_names = pd.read_csv("~/Documents/Insight/Data - Insight/cm20/cm.txt", delimiter="|", names=cmte_header.columns) # pull in committee names file

# Clean data
df = ( df.set_index('CMTE_ID') ).join(cmte_names.set_index('CMTE_ID')) 

# Get committee id from committee name
cmte_name = "GILLIBRAND 2020" #"WARREN FOR PRESIDENT, INC." #INPUT
cmte_data = cmte_names[cmte_names['CMTE_NM']==cmte_name].copy()
cmte_id = cmte_data['CMTE_ID'].values[0]
print(cmte_name, "ID:", cmte_id)

# Committee-level data
cmte = df[df.index==cmte_id].copy()
pos_cmte = cmte[cmte['TRANSACTION_AMT']>0]
gpd_pos_cmte = pos_cmte.groupby('PURPOSE')
cats_paid = gpd_pos_cmte['TRANSACTION_AMT'].sum().sort_values(ascending=False)
top_cats = cats_paid.index[:3]
print('Top categories:',top_cats.values)

# Detect outliers
outliers = pd.DataFrame()
for cat in top_cats:
    cmte_cat = cmte[cmte['PURPOSE']==cat].copy()
    outliers = outliers.append(cmte_cat[np.abs(stats.zscore(cmte_cat['TRANSACTION_AMT'])) > 3])
    
print(len(outliers))
print(outliers['PURPOSE'].value_counts())
outliers[CORE_COLUMNS]

GILLIBRAND 2020 ID: C00694018
Top categories: ['CREDIT CARD - SEE BELOW IF ITEMIZED' 'COMMUNICATIONS CONSULTING'
 'ADVERTISING']
2
ADVERTISING    2
Name: PURPOSE, dtype: int64

,CMTE_NM,RPT_TP,NAME,CITY,STATE,ZIP_CODE,TRANSACTION_DT,TRANSACTION_AMT,PURPOSE,CATEGORY
CMTE_ID,,,,,,,,,,
C00694018,GILLIBRAND 2020,Q2,TWITTER,PHILADELPHIA,PA,191700001,6/12/2019,23590.37,ADVERTISING,NaN
C00694018,GILLIBRAND 2020,Q2,GOOGLE,MOUNTAIN VIEW,CA,940431351,6/12/2019,67148.93,ADVERTISING,NaN

In [32]:
#births = outliers
#for birth in births:
#    print(type(birth))
outliers.iloc[1]['CMTE_NM']
for i in 0..(len(outliers)):
    print(i)

SyntaxError: invalid syntax (<ipython-input-32-207762fc0331>, line 5)

In [38]:
for i in range(2):
    print(i)
len(outliers)

0
1

2