In [2]:
import pandas as pd
import numpy as np
from scipy import stats

CORE_COLUMNS = ['CMTE_NM','RPT_TP','NAME','CITY','STATE','ZIP_CODE','TRANSACTION_DT','TRANSACTION_AMT','PURPOSE','CATEGORY']

# Read in data
df = pd.read_csv("oppexp.csv", low_memory=False )
cmte_header = pd.read_csv("~/Documents/Insight/Data - Insight/cm20/cm_header_file.csv") # pull in header for committee names file
cmte_names = pd.read_csv("~/Documents/Insight/Data - Insight/cm20/cm.txt", delimiter="|", names=cmte_header.columns) # pull in committee names file

# Clean data
df = ( df.set_index('CMTE_ID') ).join(cmte_names.set_index('CMTE_ID')) 

# Get committee id from committee name
cmte_name = "GILLIBRAND 2020" #"WARREN FOR PRESIDENT, INC." #INPUT
cmte_data = cmte_names[cmte_names['CMTE_NM']==cmte_name].copy()
cmte_id = cmte_data['CMTE_ID'].values[0]
print(cmte_name, "ID:", cmte_id)

# Committee-level data
cmte = df[df.index==cmte_id].copy()
pos_cmte = cmte[cmte['TRANSACTION_AMT']>0]
gpd_pos_cmte = pos_cmte.groupby('PURPOSE')
cats_paid = gpd_pos_cmte['TRANSACTION_AMT'].sum().sort_values(ascending=False)
top_cats = cats_paid.index[:3]
print('Top categories:',top_cats.values)

# Detect outliers
outliers = pd.DataFrame()
for cat in top_cats:
    cmte_cat = cmte[cmte['PURPOSE']==cat].copy()
    outliers = outliers.append(cmte_cat[np.abs(stats.zscore(cmte_cat['TRANSACTION_AMT'])) > 3])
    
print(len(outliers))
print(outliers['PURPOSE'].value_counts())
outliers[CORE_COLUMNS]

GILLIBRAND 2020 ID: C00694018
Top categories: ['CREDIT CARD - SEE BELOW IF ITEMIZED' 'COMMUNICATIONS CONSULTING'
 'ADVERTISING']
2
ADVERTISING    2
Name: PURPOSE, dtype: int64

,CMTE_NM,RPT_TP,NAME,CITY,STATE,ZIP_CODE,TRANSACTION_DT,TRANSACTION_AMT,PURPOSE,CATEGORY
CMTE_ID,,,,,,,,,,
C00694018,GILLIBRAND 2020,Q2,TWITTER,PHILADELPHIA,PA,191700001,6/12/2019,23590.37,ADVERTISING,NaN
C00694018,GILLIBRAND 2020,Q2,GOOGLE,MOUNTAIN VIEW,CA,940431351,6/12/2019,67148.93,ADVERTISING,NaN

In [3]:
df.head()

,AMNDT_IND,RPT_YR,RPT_TP,IMAGE_NUM,LINE_NUM,FORM_TP_CD,SCHED_TP_CD,NAME,CITY,STATE,...,CMTE_CITY,CMTE_ST,CMTE_ZIP,CMTE_DSGN,CMTE_TP,CMTE_PTY_AFFILIATION,CMTE_FILING_FREQ,ORG_TP,CONNECTED_ORG_NM,CAND_ID
CMTE_ID,,,,,,,,,,,,,,,,,,,,,
C00000422,N,2019,M5,2.019050e+17,21B,F3X,SB,UNITED STATES TREASURY,AUSTIN,TX,...,WASHINGTON,DC,200017400,B,Q,NaN,M,M,DELAWARE MEDICAL PAC,NaN
C00000422,N,2019,M5,2.019050e+17,21B,F3X,SB,DC TREASURER,WASHINGTON,DC,...,WASHINGTON,DC,200017400,B,Q,NaN,M,M,DELAWARE MEDICAL PAC,NaN
C00000422,N,2019,M7,2.019070e+17,21B,F3X,SB,DELUXE BUSINESS CHECKS,CINCINNATI,OH,...,WASHINGTON,DC,200017400,B,Q,NaN,M,M,DELAWARE MEDICAL PAC,NaN
C00000422,N,2019,M2,2.019020e+17,21B,F3X,SB,CHASE PAYMENTECH,SALEM,NH,...,WASHINGTON,DC,200017400,B,Q,NaN,M,M,DELAWARE MEDICAL PAC,NaN
C00000422,N,2019,M3,2.019030e+17,21B,F3X,SB,CHASE PAYMENTECH,SALEM,NH,...,WASHINGTON,DC,200017400,B,Q,NaN,M,M,DELAWARE MEDICAL PAC,NaN